* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(245, 245, 245);
}


.slider {
    margin: 25vh auto 0 auto;
    background-color: rgba(11, 103, 189, 0.479);
    border: 2px solid rgb(12, 4, 4);
    height: 300px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}
.slider__line {
    background-color: rgba(185, 184, 197, 0.952);
    height: 200px;
    overflow: hidden;
    position: relative;
    border-radius: inherit;
    border: inherit
}
.slider__list {
    list-style-type: none;
    display: flex;
    position: absolute;
    left: 0px;
    transition: left .5s;
}

.slider__item img{
    height: 200px;
    object-fit: cover;
}

.btns {
    width: 150px;
    height: 28px;
    display: flex;
    justify-content: space-between;
}


.btn {
    display: block;
    font-size: 20px;
    color: #fff;
    background-color: rgb(122, 101, 240);
    box-shadow: 2px 2px 5px rgb(12, 4, 4) ;
    border-radius: inherit;
    user-select: none;
    cursor: pointer;
    height: 40px;
    width: 50px;
    text-align: center;
    line-height: 1.8em;
    transition: all .3s;
    position: relative;
}

.btn:hover {
    transform: scale(1.05);
}


.btn:active {
    box-shadow: 2px 2px 3px rgb(12, 4, 4) ;
}